p {
    font-size:x-large;
    text-align: center;
    text-shadow:5px 2px 2px rgb(206, 16, 231);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
label {
    display: block;
    margin-bottom: 20px;
}
input[type=text] {
    border-color: blueviolet;
    width: 500px;
}
.texta1 {
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    background-color: brown;
    width: 200px;
    height: 25px;
}
.texta2 {
    font-size: 3em;